@media (max-width: 576px) {
  .sub-header {
    display: flex;
  }
  .menu-bar {
    color: white;
    display: flex;
    align-items: center;
    width: 20%;
    height: 70px;
    justify-content: center;
    cursor: pointer;
  }
  .menu-bar i:hover {
    background-color: rgb(61, 61, 222);
  }
  .menu-bar i {
    border: 1px solid white;
    padding: 8px;
    font-size: 26px;
    border-radius: 7px;
  }

  .header-left {
    margin-left: 0;
    justify-content: center;
    width: 100%;
  }
  .header-right {
    width: 65%;
    margin-left: 150px;
    display: none;
  }
  .slider-image .img2 {
    display: none;
  }
  .slider-image img {
    width: 13%;
  }
  .solid-line {
    width: 88%;
  }
  .content-left ul {
    margin-left: 27px;
  }
  .content-left {
    width: 77%;
  }
  .content-right {
    width: 33%;
  }
  .content-right input {
    width: 120px;
  }
  .solid-line1 {
    width: 86%;
    margin: 11px 35px;
  }
  .info {
    font-size: 14px;
}
.category {
  margin: 0px 20px;
  display: block;
}
.category-name {
  height: 50px;
}
.category-name i {
  font-size: 30px;
}
.category-name h1 {
  font-size: 22px;
}
.search-icon {
  height: 50px;
}
.search-icon i {
  font-size: 30px;
}
.search-icon h1 {
  font-size: 20px;
}
.input {
  width: 280px;
}
.cat-left {
    width: 100%;
}
.cat-right {
    width: 100%;
}
.select-category select {
    width: 98%;
}

.recent-movie {
  margin-top: 5px;
  grid-template-columns: repeat(2, 1fr);
}
.footer-right {
  font-size: 19px;
  justify-content: end;
}
.footer-left {
  padding-left: 30px;
}
}
