@media (min-width: 992px) {
  .sub-header {
    display: block;
  }

  .menu-bar {
    display: none;
  }
  .header-left {
    margin-left: 70px;
    justify-content: unset;
  }
  .header-right {
    width: 65%;
    margin-left: 150px;
    display: flex;
  }
  .slider-image img {
    width: 13%;
  }
  .slider-image .img1 {
    display: block;
  }
  .slider-image .img2 {
    display: none;
  }
  .content-left {
    width: 150%;
}
  .content-left ul {
    margin-left: 49px;
  }
  .content-left a {
    margin-bottom: 10px;
  }
  .content-right {
    width: 27%;
  }
  .content-right input {
    height: 45px;
  }
  .category {
    margin: 0px 20px;
  }
  .category-name {
    height: 50px;
  }
  .category-name i {
    font-size: 30px;
  }
  .category-name h1 {
    font-size: 22px;
  }
  .search-icon {
    height: 50px;
  }
  .search-icon i {
    font-size: 30px;
  }
  .search-icon h1 {
    font-size: 20px;
  }
  .input {
    width: 185px;
  }
  .select-category select {
    width: 220px;
  }
  .recent-movie {
    margin-top: 5px;
    grid-template-columns: repeat(3,1fr);
}
.footer-right {
    font-size: 19px;
    justify-content: end;
}
}
